@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100;400;600&display=swap');

:root{
    --cor-primaria:#000000;
    --cor-secundaria:#F6F6F6;
    --cor-terciaria:#4261F5;

    --fonte-primaria:  font-family: 'Krona One', sans-serif;
    --fonte-secundaria: font-family: 'Montserrat', sans-serif;
}

*{
    margin:0;
    padding:0;
}

body{
    height: 100vh;
    box-sizing: border-box;                                  
    background-color: var(--cor-primaria);
}

.cabecalho{
    padding:2% 0% 0% 15%;              
}

.cabecalho__menu{
    display: flex;
    gap:80px;
}

.cabecalho__menu__link{
    color: var(--cor-terciaria);
    font-family: 'Krona One', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
} 


.apresentacao{
    padding: 8% 15% 23% 15%;                
    /* margin: 10% 15%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo{
    width: auto;
    display:flex;
    flex-direction:column;
    gap:40px;
}

.apresentacao__conteudo__titulo{
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-size: 2.25rem;
}
.titulo__destaque{
    color: var(--cor-terciaria);
}

.apresentacao__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--cor-secundaria);
    display: flex;
    justify-content: center;
}

.apresentacao__links{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap:32px;
}

.apresentacao__links__navegacao{
    color: var(--cor-secundaria);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    font-size: 1.5rem;
    width:50%;
    text-decoration: none;
    text-align: center;
    padding: 21.5px 0px;

}

.apresentacao__imagem{
    width:40%;
    border-radius:25px;
    border: 8px double var(--cor-terciaria);
}


.apresentacao__icone{
    width:5%;
}

.rodape{

    padding: 24px;
    background-color:var(--cor-terciaria);
    color: var(--cor-secundaria);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--fonte-primaria);
    
}


.apresentacao__texto__about{
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}

.apresentacao__link__about{
    color: var(--cor-secundaria);
}

.apresentacao__cursos{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__link__cursos{
    color: var(--cor-terciaria);
    text-decoration: none;
}


@media (max-width: 1200px){    
    
    .cabecalho{
        padding: 10%;
    }
    .cabecalho__menu{
        display: flex;
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
}
